.skill-tag {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	padding: 6px 30px;
	display: inline-block;
	margin-right: 10px;
	border: 1px solid #f5f5f5;
	font-weight: 500;
	margin-bottom: 15px;
	font-size: 16px;
}

.subtitle{
	margin: 1px;
}

